
# data files
*.csv
*.tournaments

# models
**/models
**/modelresults

# downloaded webpages
**/tournamentpages

# data folders
**/tournaments
**/seasons
**/seasons_noplates
**/testSplits
**/predictions
**/rollinginputs
**/LCS
**/LEC
**/MLData
**/MLDataSplit
**/combineddata
**/final_summaries

# r things
.RData
.Rhistory
fancygraphs.R
.Rproj.user

# testing tangent
pandastesting.py